{% extends 'News/base.html' %}

{% block title %}Area Personale{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Area Personale</h2>
    <p>Benvenuto, {{ user.username }}!</p>
    <ul class="user-menu">
        <li><a href="{% url 'cambia_utente' %}" class="btn-link">Cambia Utente</a></li>
        <li>
            <form method="post" action="{% url 'logout' %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn-link">Logout</button>
            </form>
        </li>
    </ul>
</div>
{% endblock %}