{% extends 'News/base.html' %}

{% block title %}Richieste D'Acquisto{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 mb-4">
        <h2 class="text-center mb-4">Lista Richieste D'Acquisto</h2>
        <div class="text-end mb-3">
            <a href="{% url 'Insert_Rda' %}" class="btn btn-primary me-2">Nuova Rda</a>
            <a href="{% url 'Export_Rda' %}" class="btn btn-success">Esporta CSV</a>
        </div>
    </div>
    {% for r in rda %}
    <div class="col-md-6 col-lg-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ r.utente }}</h5>
                <p class="card-text">{{ r.articolo|truncatewords:20 }}</p>
                <p class="card-text">{{ r.qta_ordine|truncatewords:20 }}</p>
                <p class="card-text">{{ r.valore_tot|truncatewords:20 }}</p>
                <div class="d-flex justify-content-between">
                    <a href="{% url 'rda-update' r.pk %}" class="btn btn-primary">Modifica</a>
                    <a href="{% url 'rda_detail' r.pk %}" class="btn btn-info text-white">Dettagli</a>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="col-12">
        <p class="text-center">Nessun rda presente</p>
    </div>
    {% endfor %}
</div>
{% endblock %}