{% extends 'News/base.html' %}

{% block title %}Utenti{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 mb-4">
        <h2 class="text-center mb-4">Lista Utenti</h2>
        <div class="text-end mb-3">
            <a href="{% url 'insert-utente' %}" class="btn btn-primary">Aggiungi Utente</a>
        </div>
    </div>
    {% for ut in utente %}
    <div class="col-md-6 col-lg-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ ut.nome }} {{ ut.cognome }}</h5>
                <p class="card-text">Email: {{ ut.email }}</p>
                <a href="{% url 'update-utente' ut.pk %}" class="btn btn-primary">Modifica</a>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="col-12">
        <p class="text-center">Nessun utente presente</p>
    </div>
    {% endfor %}
</div>
{% endblock %}